
@{
    ViewData["Title"] = "Document";
}

<h1>Document</h1>


<form methos="post" asp-controller="Home" asp-action="GeneratePdf">
    <div>
        <p>
            rem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id semper risus in hendrerit gravida rutrum quisque non. Semper eget duis at tellus at. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Sit amet mattis vulputate enim. A cras semper auctor neque vitae. Eget felis eget nunc lobortis mattis aliquam faucibus purus. Suspendisse sed nisi lacus sed viverra tellus in. Nibh sit amet commodo nulla facilisi nullam. Viverra orci sagittis eu volutpat odio facilisis mauris. Purus ut faucibus pulvinar elementum integer enim neque. Dui nunc mattis enim ut tellus elementum. Adipiscing bibendum est ultricies integer quis auctor elit sed. Commodo ullamcorper a lacus vestibulum sed. Nulla facilisi nullam vehicula ipsum a arcu. Tempus imperdiet nulla malesuada pellentesque elit eget. A diam maecenas sed enim.
        </p>
        <p>
            Tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Tristique senectus et netus et malesuada fames ac. Non nisi est sit amet facilisis magna etiam tempor orci. Volutpat est velit egestas dui id ornare arcu. Quam adipiscing vitae proin sagittis nisl rhoncus mattis. Leo duis ut diam quam. Quis varius quam quisque id diam vel quam elementum pulvinar. Aliquam id diam maecenas ultricies. Fringilla urna porttitor rhoncus dolor purus non enim praesent. Pellentesque adipiscing commodo elit at imperdiet. Lorem sed risus ultricies tristique nulla. Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque.
        </p>
        <p>
            Vel fringilla est ullamcorper eget nulla facilisi. Tincidunt dui ut ornare lectus. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Eu sem integer vitae justo eget magna fermentum iaculis. Odio aenean sed adipiscing diam donec adipiscing tristique risus. Elit ut aliquam purus sit. Facilisis sed odio morbi quis commodo odio aenean. Ac tortor dignissim convallis aenean et. Tellus elementum sagittis vitae et leo duis ut. Elit eget gravida cum sociis natoque penatibus et magnis. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Tristique magna sit amet purus gravida quis blandit. Id aliquet lectus proin nibh nisl condimentum id venenatis a. Dignissim sodales ut eu sem. Proin nibh nisl condimentum id venenatis a condimentum vitae. Tempor nec feugiat nisl pretium fusce id. In egestas erat imperdiet sed euismod nisi. Eget nunc scelerisque viverra mauris in aliquam sem fringilla. Pretium vulputate sapien nec sagittis.
        </p>
        <p>
            Semper feugiat nibh sed pulvinar proin gravida hendrerit. Justo donec enim diam vulputate ut pharetra sit amet aliquam. Consequat nisl vel pretium lectus quam id leo in vitae. Justo nec ultrices dui sapien. Amet consectetur adipiscing elit ut aliquam purus sit amet. Tellus id interdum velit laoreet id donec ultrices. Nisl suscipit adipiscing bibendum est ultricies integer quis. Libero id faucibus nisl tincidunt eget nullam non nisi. Gravida neque convallis a cras semper auctor. Ut venenatis tellus in metus vulputate eu.
        </p>
        <p>
            Cursus in hac habitasse platea dictumst quisque sagittis purus. Fermentum iaculis eu non diam phasellus vestibulum lorem. Aliquet nec ullamcorper sit amet risus nullam eget felis. Elit eget gravida cum sociis natoque penatibus et magnis dis. Id aliquet lectus proin nibh nisl condimentum id venenatis. Tellus cras adipiscing enim eu. Aliquet enim tortor at auctor. Sapien pellentesque habitant morbi tristique senectus et netus et. Nullam non nisi est sit. Leo integer malesuada nunc vel. Tempor commodo ullamcorper a lacus vestibulum sed arcu non.
        </p>
    </div>

    <div class="form-group mb-3 float-end">
        <input type="submit" value="Generate PDF" class="btn btn-primary" />
    </div>

</form>

